.App {
  width: 800px;
}

header{
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.listBox{
  width: 100%;
  min-height: 200px;
}

.listBox>div{
  font-size: 20px;
  line-height: 2;
}

.left{
  float: left;
}

.right{
  float: right;
}

.inputBox{
  position: relative;
}

.input{
  width: calc(100% - 30px);
  height: 40px;
  padding-left: 30px;
}

.allChecked{
  width: 20px;
  height: 20px;
  display: block;
  content: '';
  position: absolute;
  top: 20px;
  left: 10px;
  transform: rotate(90deg)
}

.all_checked:checked {
	background:#1673ff
}
.all_checked {
	width:25px;
	height:25px;
	background-color:#ffffff;
	border:solid 1px #dddddd;
	-webkit-border-radius:50%;
	border-radius:50%;
	font-size:0.8rem;
	margin:0;
	padding:0;
	position:relative;
	display:inline-block;
	vertical-align:top;
	cursor:default;
	-webkit-appearance:none;
	-webkit-user-select:none;
	user-select:none;
	-webkit-transition:background-color ease 0.1s;
	transition:background-color ease 0.1s;
}
.all_checked:checked::after {
	content:'';
	top:5px;
	left:5px;
	position:absolute;
	background:transparent;
	border:#fff solid 2px;
	border-top:none;
	border-right:none;
	height:6px;
	width:10px;
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
}

footer{
  line-height: 28px;
}

.btns div {
  float: left;
  padding: 0 5px;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 4px;
}

.btns div:hover {
  border-radius: 4px;
  background: #a0d095;
}

.activeBtn{
  background: #a0d095;
  color: #fff
}

.cancle{
  transform: rotateZ(45deg)
}

.lineThrough{
  text-decoration: line-through;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
