.App {
  width: 600px;
}

header{
  text-align: center;
}

h1{
  font-size: 80px;
  line-height: 1.2;
  font-weight: lighter;
  color:#8ba56a8c
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.project{
  float: left;
}



.Box{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  float: right;
}


.listBox{
  width: 100%;
}

.listBox>div{
  font-size: 20px;
  line-height: 3;
  border-bottom: 1px solid #e0e0e0;
}

.left{
  float: left;
}

.right{
  float: right;
}

.inputBox{
  position: relative;
}

.input{
  font-size: 24px;
  font-weight: lighter;
  width: 100%;
  height: 60px;
  padding-left: 30px;
  box-sizing: border-box;
}

.input::-webkit-input-placeholder{
  color: #ccc;
}

.input:active,.input:focus{
  outline: none
}

.allChecked{
  width: 20px;
  height: 20px;
  display: block;
  content: '';
  position: absolute;
  top: 20px;
  left: 10px;
  transform: rotate(90deg)
}

.checked:checked {
  background:#67945d;
  border: none;
}
.checked:focus{
  outline: none;
}
.checked {
	width:24px;
	height:24px;
	background-color:#ffffff;
	border:solid 1px #dddddd;
	-webkit-border-radius:50%;
	border-radius:50%;
	font-size:0.8rem;
	margin:13px;
	padding:0;
	position:relative;
	display:inline-block;
	vertical-align:top;
	cursor:default;
	-webkit-appearance:none;
	-webkit-user-select:none;
	user-select:none;
	-webkit-transition:background-color ease 0.1s;
	transition:background-color ease 0.1s;
}
.checked:checked::after {
	content:'';
	top:6px;
	left:6px;
	position:absolute;
	background:transparent;
	border:#fff solid 2px;
	border-top:none;
	border-right:none;
	height:6px;
	width:10px;
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.item_checked{
  margin: 18px;
}

footer{
  line-height: 50px;
  height: 50px;
}

.btns div {
  line-height: 28px;
  float: left;
  padding: 0 10px;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 4px;
  margin-top: 11px;
}

.btns div:hover {
  border-radius: 4px;
  background: #a0d095;
  color: #fff;
}

.activeBtn{
  background: #a0d095;
  color: #fff
}

.cancle{
  transform: rotateZ(45deg) scale(1.5);
  margin-right: 20px;
  cursor: pointer;
}

.line_through{
  text-decoration: line-through;
  color: #ccc;
}

.delect_btn{
  line-height: 20px;
  border-radius: 4px;
  border: 1px solid #a0d095;
  margin-left: 20px;
  transition: all .5s;
  cursor: pointer;
}

.delect_btn:hover{
  background: #a0d095;
  color: #fff;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
